html, body {
	margin: 0px;
	padding: 0px;
}

* {
	font-family: 'Roboto', sans-serif;
}

#container {
	background: url("img/header_bg.jpg");
	background-size: cover;
	height: 100vh;
	width: 100vw;
}

#buttons {
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#buttons>ul>li {
	display: inline-block;
	text-align: center;
	padding: 0px 10px;
}

a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.8);
}

img {
	position: absolute;
	top: 280px;
	left: 740px;
	transform: translate(-50%, -50%);
}

#img2 {
	position: absolute;
	top: 460px;
	left: 500px;
	transform: translate(-50%, -50%);
}

p {
	color: white;
	width: 950px;
	margin: 0 auto;
}

#buttons2>ul>li {
	display: inline-block;
	text-align: center;
	padding: 0px 10px;
}